<!DOCTYPE html> 

<html xmlns:th="http://www.thymeleaf.org"> 

<head> 

<title>Pets</title> 

 

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

 

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

 

<link href="styles.css" rel="stylesheet" type="text/css"> 


</head> 

<body> 

 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 

  <a class="navbar-brand" href="#">Pets</a> 

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 

    <span class="navbar-toggler-icon"></span> 

  </button> 

  <div class="collapse navbar-collapse" id="navbarNav"> 

    <ul class="navbar-nav"> 

      <li class="nav-item active"> 

        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a> 

      </li> 

      <li class="nav-item active"> 

        <a class="nav-link" href="/about">About</a> 

      </li>      

      <li class="nav-item active"> 

        <a class="nav-link" href="/pets">Pets</a> 

      </li> 
       <li class="nav-item active"> 

        <a class="nav-link" href="/list">Owner List</a> 

      </li> 

    </ul> 

  </div> 

</nav> 

 

<div class="container"> 

 

<h1>Welcome pet lovers</h1> 

 

<p>We are so happy you decided to visit!<br> 

Take a few minutes to watch this clip of the benefits of having pets. 

</p> 

 

<iframe width="260" height="115" src="https://www.youtube.com/embed/fvbCfvcAcKA" frameborder="0"  

allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 

  <br/><br/><br/><br/>
 <h4>Owner Post:</h4>
   
    <table class="table table-striped">
     <thead>
        <tr>
            <!--  <th>Id</th>-->
            <th scope="col">Name</th>
            <th scope="col">Pet Name</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
       
        <tbody>
        <tr th:each="pet : ${petsUser}">
       
            <td th:text="${pet.name}"></td>
            <td th:text="${pet.petName}"></td>
            <td th:text="${pet.desc}"></td>
            
        </tr>
        </tbody>
    </table>
    
    <p>Look at a few of our members pets! </p> 
</div>


<br/><br/>
 


<br/>
<div class="pic">
<img src="../images/pet1.jpg" width="250"  height="275" th:src="@{images/pet1.jpg}"/> 

<img src="../images/petBird.jpg" width="250"  height="275" th:src="@{images/petBird.jpg}"/> 
 
<img src="../images/petCat.jpg" width="250"  height="275" th:src="@{images/petCat.jpg}"/> 

<img src="../images/petBunny.jpg" width="250"  height="275" th:src="@{images/petBunny.jpg}"/> 


 </div>

 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> 

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 

</body> 
 

</html> 